* {
    padding: 20px;
    padding-top: 5px;
    background-color: darkgrey;
    color: white;
}

.text-center {
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.setup-form {
    min-width: 150px;
    max-width: 480px;
    width: 90%;
  }

.form-full-width {
    // min-width: 300px;
    width: 100%;
  }