* {
    padding: 20px;
    padding-top: 5px;
}

.text-center {
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.mat-slider-horizontal {
    min-width: 100%;
  }
  

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

.setup {
    // min-width: 180px;
    max-width: 640px;
    width: 90%;
    margin-top: -15px;
    margin-left: -20px;
    padding: 0px;
  }

.form-full-width {
    // min-width: 300px;
    width: 100%;
  }

.chart1{
    display: block;
    width: 90%;
}